# tensorflow==2.3.0-rc1
tensorflow
sklearn
pandas
IPython
keras
tqdm
xlrd
openpyxl
# conda install -c anaconda ipython
matplotlib
tensorflow_hub
# transformers==4.4.2
transformers
gin-config
tensorflow_addons
bert-for-tf2
tf-models-official
