/hw/acl-ijcnlp2021-templates
/hw/BERT Named Entity Recognition Code
/crf++-0.58/*
!/CRF++-0.58/example/chunking/*out*.*
!/CRF++-0.58/example/chunking/conlleval.pl
!/CRF++-0.58/example/chunking/my_exec.ps1
/venv

# my_ner
